@import url('https://fonts.googleapis.com/css2?family=Inter+One&display=swap');

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.atas{
    color: #fff;
    text-align: center;
    font-style: normal;
    font-family: 'Inter';
    font-weight: 800;
    font-size:90px;
    letter-spacing: normal;
}

.bawah{
    margin: 0;
    width: 100%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

.atas,.bawah{
    display: grid;
    grid-template-columns: repeat(2,1fr);   
}

.kanan,.kiri{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.kanan{
    background-color:#1E1E1E;
}

.kiri{
    background-color: #222325;
}

.poin-kanan{
    top: 40%;
    left:71%;
    position: fixed;
}

.poin-kiri{
    top: 40%;
    left:20%;
    position: fixed;
}

.bawah>.user1>.identitas{
    display: grid;
    grid-template-columns: 7% 93%;
    
}    

.bawah>.user2>.identitas{
    display: grid; 
    grid-template-columns: 93% 7%;   
}

.user1>.identitas>.posisi{
    color: #1E1E1E ;
    background-color: #FFD600;
    padding: 5px;
    text-align: center;
}

.user1>.identitas>.nama{
    color: #fff ;
    background-color:#222325;
    padding: 5px;
    text-align: left;
    padding-left: 15px;
}

.user2>.identitas>.nama{
    background-color: #FFD600;
    padding: 5px;
    text-align: center;
}

.user2>.identitas>.posisi{
    background-color: #535456 ;
    color: #fff ;
    padding: 5px;
    text-align: right;
    padding-right: 15px;
}
.bawah{
    font-size:10px;
}

@media(orientation: landscape){
        .atas{
            height:93.6%;
            min-height: 37px;
        }
        .kanan{
            left:20%;
            top:40%;
        }
        .kiri{
            left: 73%;
            top:40%;
        }
        .poin-kanan,.poin-kiri{
            top: 22% !important;
        }
        .poin-kanan{
            left:70%;
            top: 27%;
        }
        .poin-kiri{
            left:20%;
            top: 27%;
        }
        .bawah>.user1>.identitas{
            display: grid;
            grid-template-columns: 16% 90%;
            
        }
        .bawah>.user2>.identitas{
            display: grid;
            grid-template-columns: 84% 16%;
            
        }
        .bawah{
            font-size:10px;
        }
}

@media(orientation: portrait){
        .atas{
            height:97.7%;
            min-height: 37px;
        }
        .kanan{
            left:20%;
            top:40%;
        }
        .kiri{
            left: 73%;
            top:40%;
        }
        .poin-kanan{
            left:60%;
            top: 40%;
        }
        .poin-kiri{
            left:15%;
            top: 40%;
        }
        .bawah>.user1>.identitas{
            display: grid;
            grid-template-columns: 16% 90%;
            
        }
        .bawah>.user2>.identitas{
            display: grid;
            grid-template-columns: 84% 16%;
            
        }
}
